.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 2.8rem;
  border-radius: $radius;
  border: 2px solid $accent-primary;
  background: $accent-primary;
  color: #fff;
  font: 700 1.5rem/1.2 $font-ui;
  cursor: pointer;
  transition: $transition;
  text-align: center;
  white-space: nowrap;

  &:hover {
    background: $accent-secondary;
    border-color: $accent-secondary;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 124, 251, 0.2);
  }

  &--outline {
      background: transparent;
      color: $accent-primary;
      
      &:hover {
          background: $accent-primary;
          color: #fff;
      }
  }

  &--full {
    width: 100%;
  }
}